<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="viewport" content="width=device-width, minimum-scale=0.25"/>
        <meta name="viewport" content="width=device-width, maximum-scale=5.0"/>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>
        <link rel="stylesheet" href="css\style.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <div class="nav">
        <div class="logo">
            <H1>Loose My Mind</H1>
        </div>
        <div class="navbar">
            <a href="/" class="w3-bar-item w3-button">Home</a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="/update_user" class="w3-bar-item w3-button">Edit Profil</a>
                <a href="/creerpartie" class="w3-bar-item w3-button">Créer une partie</a>
                <a href="/listepartie" class="w3-bar-item w3-button">List Partie</a>
                <a href="/listeescapegame" class="w3-bar-item w3-button">Liste Escape Game</a>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                 {% if is_granted('ROLE_ADMIN') %}
                     <a href="/new_escape_game" class="w3-bar-item w3-button">Ajouter un escape game</a>
                     <a href="/listeescapegameall" class="w3-bar-item w3-button">Liste Escape Game ALL</a>
                     <a href="/listepartieAll" class="w3-bar-item w3-button">Liste Partie ALL</a>
                     {% endif %}
                <a href="/logout" class="w3-bar-item w3-button">Log out</a>
            {% else %}
                <!-- <a href="/signup" class="w3-bar-item w3-button">Sign up</a> -->
                <a href="/signin" class="w3-bar-item w3-button">Sign in</a>
            {% endif %}
            <a href="/rejoindre_partie" class="w3-bar-item w3-button">Rejoindre une partie</a>
        </div>
    </div>







    

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}


    </div>
    </body>
</html>
